@import "@/assets/styles/mixins.scss";

.wrapper-card-img {
    .wrapperImg {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        object-fit: cover;
    }
}

.wrapper-card-content {
    padding-left: 10px;
    .name {
        font-family: $base__font-family;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        color: #3e4247;
    }
    .title {
        font-family: $base__font-family;
        font-style: normal;
        font-weight: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #35373a;
    }
}

.wrapper-card-main {
    .contentDay {
        display: flex;
        font-family: $base__font-family;
        font-style: normal;
        font-weight: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #35373a;
    }
    .time {
        font-family: $base__font-family;
        font-style: normal;
        font-weight: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #3b5cad;
    }
}

.wrapper-container {
    width: 100%;
    padding-top: 15px;
}

.wrapper-contentTop {
    display: flex;
    width: 100%;
    .img {
        width: 25px;
        height: 36px;
        object-fit: cover;
    }
    .title {
        font-family: $base__font-family;
        font-style: normal;
        font-weight: 700;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding: 0px !important;
        color: #27a600;
    }
    .description {
        font-family: $base__font-family;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #36383a;
    }
}

.wrapper-containerLogo{
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 2px;
    .logo {
        object-fit: cover !important;
    }
    .tilteLogo {
        font-family: $base__font-family;
        margin-left: 5px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        color: #3e4247;
    }
}

.container-title {
    font-family: $base__font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.wrapper-title {
    display: flex;
    width: 100%;
    padding: 15px 0px;
    border-top: 1px dashed #EAEAEA;
    .icon {
        display: flex;
        align-self: center;
        width: 10px;
        height: 10px;
        border: 2px solid #3b5cad;
        border-radius: 50%;
    }
    .title {
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #36383a;
        margin-left: 15px;
    }
}