@import '@/assets/styles/mixins.scss';

.imageWrapper {
  position: relative;
}

.close {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: #fff !important;
  position: absolute;
  right: 5px;
  top: -8px;
  font-size: 12px;
  span[class*='icon'] {
    font-size: 10px;
    color: rgba($color: $text-dark, $alpha: 0.65);
  }
}

.preview-image {
  :global(.ant-image-mask) {
    opacity: 1;
  }
  .ant-image {
    position: relative;
  }
  .tag {
    position: absolute;
    left: 3px;
    top: 3px;
    font-family: $base__font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    border-radius: 2px;
    padding: 4px;
    &.yellow {
      color: $text-dark;
      background-color: #feea35;
      border: 1px solid #feea35;
    }
    &.success {
      color: $text-white;
      background-color: #27a600;
      border: 1px solid #27a600;
    }
    &.danger {
      color: $text-white;
      background-color: #d83838;
      border: 1px solid #d83838;
    }
  }
  .cancel {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 24px;
    height: 24px;
    background: $background-white;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 100%;
    span[class*='icon'] {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $text;
      font-size: 10px;
    }
  }
}

.progress-container {
  background-color: $background-white;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 20px;
  .progess-content {
    .norm {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $text;
      margin-bottom: 0;
      &.cancel {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #bd4a4a;
        cursor: pointer;
      }
    }
  }
}

.container-success {
  span[class*='icon'] {
    font-size: 50px;
    color: $text-success;
  }
  p {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #3e4247;
  }
}
