// Import mixins
@import "@/assets/styles/mixins.scss";

/////////////////////////////////////////////////////////////////////////////////////////
/*  ANT DESIGN INPUT */

.ant-input-disabled {
  background: $gray-lighten-more-more;
}

.input-number {
  &.ant-input-number {
    width: 100%;
  }
}

.input-login {
  .ant-input {
    height: 44px;
    border-radius: 6px;
    border: 1px solid #d6ebdf;
  }
}

.input-password {
  .ant-input-password {
    height: 44px;
    border-radius: 6px;
    border: 1px solid #d6ebdf;
    .ant-input {
      height: auto;
    }
  }
  }
