// Import mixins
@import "@/assets/styles/mixins.scss";

/////////////////////////////////////////////////////////////////////////////////////////
/*  ANT DESIGN INPUT */

.ant-input-disabled {
  background: $gray-lighten-more-more;
}

.input-number {
  &.ant-input-number {
    width: 100%;
  }
}

.input-login {
  .ant-input {
    height: 44px;
    border-radius: 6px;
    border: 1px solid #d6ebdf;
  }
}

.input-password {
  .ant-input-password {
    height: 44px;
    border-radius: 6px;
    border: 1px solid #d6ebdf;
    .ant-input {
      height: auto;
    }
  }
}

.radio-custom {
  .ant-radio-wrapper {
    // display: block;
    // margin: 10px 0;
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    display: flex;
    align-items: center;
    margin: 20px 0;

    .ant-radio {
      > input {
        width: 22px;
        height: 22px;
      }

      .ant-radio-inner {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.ant-checkbox-wrapper {
  font-family: $bold__font-family;
  font-size: 14px;
  line-height: 20px;
  color: #36383a;
  .ant-checkbox-inner {
    width: 24px;
    height: 24px;
    &::after {
      left: 30%;
    }
  }
}

.ant-radio-wrapper {
  display: inline-flex;
  .ant-radio-inner {
    width: 24px;
    height: 24px;
    &::after {
      top: 5px;
      left: 5px;
      width: 12px;
      height: 12px;
    }
  }
}

.checkbox-large {
  .ant-checkbox-wrapper {
    font-family: $base__font-family;
    font-size: 13px;
    line-height: 22px;
    color: $text;
  }
  .ant-checkbox-inner {
    width: 32px;
    height: 32px;
    &::after {
      left: 35%;
    }
  }
}

.checkbox-group-container {
  .ant-checkbox-group {
    display: flex;
    flex-wrap: wrap;
  }
  .ant-checkbox-wrapper {
    width: calc(100% / 3);
    margin: 10px 0;
  }
}
