@import '@/assets/styles/mixins.scss';

.image-main {
  :global(.ant-image) {
    margin: 0;
  }
}

.label {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.watermark-container {
  background-image: url('/images/image-water.jpeg');
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .watermark-item {
    background-color: rgba($background-white, 0.35);
    cursor: pointer;
    width: 31%;
    &.watermark-center {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    &.watermark-active {
      background-color: rgba($background-success, 0.55);
    }
  }
}

.input-number {
  width: auto !important;
}
