@import "@/assets/styles/mixins.scss";

.time-content {
  width: 100%;
  position: relative;
  &::before {
    content: '';
    width: 15px;
    height: 1px;
    background: $gray-darken;
    position: absolute;
    top: -16px;
    right: -16px;
  }
}

.time-title {
  position: absolute;
  bottom: 5px;
}

.lesson-content {
  width: 100%;
  padding: 5px;
}