
@import '@/assets/styles/mixins.scss';

.container-information-student {
  background-color: $white;
  padding: 20px;
  display: flex;
  border-radius: 6px;
  .title {
    min-width: 150px
  }
  .avatar-student {
    width: 150px;
    height: 150px;
    min-width: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
  }
  .information-student {
    flex: 1;
    margin-left: 15px;
  }
  .detail-information-student {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid #F2F2F2;
    .group-attribute {
      margin-top: 20px;
      width: 20%;
      min-width: 150px;
      font-size: 14px;
      .value-attribute {
        font-family: $bold__font-family;
        margin-bottom: 0;
      }
    }
  }
}

.block {
  background-color: $white;
  padding: 20px;
  border-radius: 6px;
  margin-top: 20px;
}

.result-bmi {
  background: #F4F5F8;
  padding: 20px;
}

.img-bmi {
  max-width: 100%;
  width: 100%;
  height: auto;
}
