@import '@/assets/styles/mixins.scss';

.general-detail {
  font-family: $base__font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #35373a;
  margin-bottom: 20px;
}