@import "@/assets/styles/mixins.scss";

.block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  z-index: 1;
  @media (max-width: $xl-min-width) {
    padding: 0 50px;
  }
  @media (max-width: $md-max-width) {
    padding: 0 30px;
  }
  @media (max-width: $xs-min-width) {
    padding: 0 10px;
  }
}

.items-container {
  :global(.slick-list) {
    padding: 50px 0;
  }
  :global(.slick-dots) {
    bottom: -50px;
    li {
      width: auto;
    }
    :global(.slick-active) {
      margin: 0px 5px;
      button {
        width: 38px;
        background: rgba($color: #ffffff, $alpha: 1);
        transition: all 0.3s ease;
      }
    }
    button {
      width: 18px;
      height: 5px;
      padding: 0;
      background: rgba($color: #ffffff, $alpha: 0.35);
      border-radius: 50px;
      &::before {
        display: none;
      }
    }
  }
  :global(.slick-slide) {
    > div {
      > div {
        display: inline-flex !important;
        justify-content: center;
      }
    }
  }

  .item {
    position: relative;
    width: 157px;
    height: 141px;
    background-color: $background-white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 40px 20px;
    margin: 15px 25px;
    box-shadow: 0px 4px 12px rgba(49, 56, 67, 0.1);
    transition: 0.3s all;
    width: 100%;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 10px 10px rgba(49, 56, 67, 0.3);
    }

    img {
      height: 60px;
      width: 60px;
    }
    .item-content {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
      bottom: 15px;
    }
    .norm {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $text;
      margin-bottom: 0;
    }
  }
}

.container {
  flex: 1;
  padding: 20px;
  z-index: 1;
  .title {
    font-size: 31px;
    line-height: 40px;
    color: $white;
  }
  .date-header {
    font-size: 20px;
    line-height: 30px;
    color: $white;
    margin-right: 15px;
  }
  .select {
    :global(.ant-form-item-control-input) {
      min-width: 100px;
    }
    :global(.ant-select-selector) {
      border: unset;
      background: transparent;
      color: #fff;
      font-size: 20px;
      line-height: 30px;
    }
    :global(.ant-select-clear) {
      display: none;
    }
    :global(.ant-select-arrow), :global(.ant-select-selection-placeholder) {
      color: $white;
    }
    :global(.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector) {
      cursor: pointer;
      box-shadow: unset;
    }
  }
}
.block-category {
  min-width: 320px;
  max-width: 320px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.body-tab {
  background: rgba($color: #EDF0F4, $alpha: 0.96);
  border-radius: 10px;
  padding: 15px 20px;
  height: 100%;
  .header-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon {
      width: 20px;
      height: auto;
    }
  }
  :global(.ant-tabs>.ant-tabs-nav) {
    justify-content: center;
    margin: 0;
  }
  :global(.ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap) {
    flex: unset;
  }
  :global(.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar) {
    display: none;
  }
  :global(.ant-tabs .ant-tabs-tab-active .ant-tabs-tab-btn) {
    font-weight: 600;
  }
  :global(.ant-tabs-tab) {
    padding: 15px 0;
    margin-right: 15px;
  }
  :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap) {
    &:before {
      content: unset;
    };
    &:after {
      content: unset;
    }
  }
  :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations-hidden) {
    display: none;
  }
}
.content-tab {
  padding: 12px;
  background: $background-white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  margin-top: 12px;
  cursor: pointer;
  &:first-child {
    margin-top: 0;
    margin-bottom: 12px;
  }
  .date {
    color: rgba($color: #3E4247, $alpha: 0.7);
    font-size: 12px;
  }
  .number {
    line-height: 1.2;
  }
}

.content-bus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .half-width {
    display: flex;
    flex-direction: column;
    width: calc(50% - 6px);
    padding: 12px;
    background: $background-white;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    margin-bottom: 12px;
    :global(.ant-avatar.ant-avatar-icon) {
      border-radius: 50%;
    }
  }
}

.custom-tab {
  :global(.ant-tabs-tab) {
    border-radius: 52px;
    background: rgba($color: #464646, $alpha: 0.1);
    min-width: 156px;
    justify-content: center;
    &:global(.ant-tabs-tab-btn) {
      color: $white;
      font-weight: 600;
    }
  }
  :global(.ant-tabs-top > .ant-tabs-nav) {
    margin: 0;
  }
  :global(.ant-tabs .ant-tabs-tab-active) {
    background: $background-success;
  }
  :global(.ant-tabs-tab-btn) {
    color: $white !important;
    font-weight: 600 !important;
    font-size: 16px;
    line-height: 24px;
  }
  :global(.ant-tabs > .ant-tabs-nav) {
    &:before {
      content: unset;
    };
    &:after {
      content: unset;
    }
  }
  :global(.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar) {
    display: none;
  }
}
.container-student {
  margin: 0 -15px;
}
.block-student {
  width: calc(100% / 10);
  margin: 0 0 30px;
  @media (max-width: $xxl-max-width) {
    width: calc(100% / 8);
  }
  @media (max-width: $xl-max-width) {
    width: calc(100% / 7);
  }
  @media (max-width: $md-max-width) {
    width: calc(100% / 5);
  }
  @media (max-width: $sm-max-width) {
    width: calc(100% / 3);
  }
  @media (max-width: $xs-max-width) {
    width: calc(100% / 2);

  }
  .content-student {
    padding: 10px;
    text-align: center;
    background: $white;
    border-radius: 6px;
    margin: 0 15px;
    height: 100%;
    cursor: pointer;
    :global(.ant-avatar.ant-avatar-icon) {
      width: 100% !important;
      max-height: 90px;
      height: auto !important;
      border-radius: 6px;
    }
  }
}

.input-search {
  :global(.ant-input-affix-wrapper) {
    max-width: 270px;
    width: 100%;
    background: rgba($color: #464646, $alpha: 0.3);
    border-color: transparent;
    box-shadow: 0px 4px 12px rgba(49, 56, 67, .2);
    border-radius: 52px;
    color: $white;
    padding: 8px 20px;
    &:hover {
      border-color: rgba(49,56,67, .2);
    }
  }
  :global(.ant-input-affix-wrapper > input.ant-input) {
    background: transparent;
    color: $white;
  }
}
.class {
  font-size: 13px;
  line-height: 20px;
  color: #7a7e84;
}
.modal-student-detail {
  :global(.ant-modal-body) {
    padding: 0;
  }
  :global(.ant-avatar) {
    min-width: 50px;
  }
  :global(.ant-modal-content) {
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, .12);
    border-radius: 12px;
  }
}
.modal-note {
  @extend .modal-student-detail;
  :global(.ant-modal-header) {
    padding: 15px;
  }
}
.body-modal {
  display: flex;
}
.menu-modal {
  max-width: 95px;
  margin: 10px;
  text-align: center;
  .item-menu {
    text-align: center;
    padding: 13px 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    &.actived {
      background: #DEF4D7;
      border-radius: 2px;
      .title-menu {
        font-weight: 600;
        color: $text-success;
      }
    }
    .image-menu {
      max-width: 50px;
      height: auto;
      width: 100%;
    }
  }
}
.container-bus {
  flex: 1;
  padding: 0 20px;
  overflow: hidden;
}
.item-health {
  padding: 15px;
  border: 1px solid #DFE6EA;
  box-sizing: border-box;
  border-radius: 4px;
  height: 100%;
  :global(.ant-avatar) {
    min-width: 32px;
  }
}
.container-timeline {
  border: 1px solid #DFE6EA;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 20px;
}
.group-image {
  display: inline-block;
  :global(.ant-image-mask-info) {
    display: none;
  }
  &:nth-child(n + 3) {
    display: none;
  }
  &:nth-child(2) {
    [data-viewmore]::before {
      content: attr(data-viewmore);
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba($color: $text-dark, $alpha: 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
.btn-status {
  :global(.ant-tag) {
    max-width: 130px;
    padding: 6px;
  }
}
