@import '@/assets/styles/mixins.scss';

.wrapper {
  display: flex;
}

.sidebar {
  width: 220px;
  min-width: 200px;
  border-radius: 2px;
  background-color: $background-white;
  &__title {
    font-family: 'ProximaNovaBold';
    font-size: 14px;
    line-height: 22px;
    padding: 15px 20px;
  }
  &__input {
    height: 42px;
    border-left: none;
    border-right: none;
    outline: none;
    &:hover,
    &:focus {
      box-shadow: none;
      border-color: #d9d9d9 !important;
    }
  }
  &__empty {
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    padding: 30px 10px;
    text-align: center;
  }
  &__list {
    padding: 15px 20px;
    max-height: 70vh;
    overflow-y: auto;
    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 8px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    background-color: #eef0f4;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
  }
  &_norm {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    padding-left: 8px;
    margin-bottom: 0;
  }
}

.main {
  max-width: calc(100% - 220px);
  margin-left: 20px;
  flex-grow: 1;
  background-color: $background-white;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  &__action {
    display: flex;
    align-items: center;
    .time {
      font-weight: bold;
      font-size: 13px;
      line-height: 20px;
      margin: 0 20px;
    }
  }
  &__next {
    display: flex;
    align-items: center;
    button {
      background-color: transparent;
      border: 1px solid #c4cdd4;
      font-size: 13px;
      line-height: 22px;
      color: #7a7e84;
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      &:first-child {
        border-radius: 3px 0px 0px 3px;
      }
      &:last-child {
        border-radius: 0px 3px 3px 0px;
      }
    }
  }
  .button-today {
    background-color: transparent;
    border: 1px solid #c4cdd4;
    border-radius: 3px;
    font-size: 13px;
    line-height: 22px;
    color: $text-success;
    height: 32px;
    padding: 0 16px;
    outline: none;
  }
  .select {
    width: 200px;
  }
}

.schedule {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 15px;
  overflow-y: auto;
  &__item {
    min-width: 130px;
    width: calc(100% / 6);
    &:first-child {
      .schedule__header {
        border-radius: 3px 0 0 0;
      }
    }
    &:last-child {
      .schedule__header {
        border-radius: 0 0 0 3px;
      }
    }
  }
  &__header {
    background-color: #eef0f4;
    .schedule__title {
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      border: 1px solid #dfe3ec;
      padding: 3px;
      font-family: 'ProximaNovaBold';
    }
    .schedule__subTitle {
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      border: 1px solid #dfe3ec;
      padding: 3px;
    }
  }
  &__children {
    padding: 10px;
    min-height: 120px;
    &--success {
      background-color: #27a600;
      .schedule__children {
        &__title {
          color: $text-white;
        }
        &__norm {
          color: $text-white;
        }
      }
    }
    &--yellow {
      background-color: #ffe388;
    }
    &--orange {
      background-color: #e0720c;
      .schedule__children {
        &__title {
          color: $text-white;
        }
        &__norm {
          color: $text-white;
        }
      }
    }
    &--empty {
      background-color: #ffffff;
    }
    &__title {
      font-family: 'ProximaNovaBold';
      font-size: 13px;
      line-height: 18px;
    }
    &__norm {
      font-size: 13px;
      line-height: 18px;
      color: #3e4247;
    }
    &__avatar {
      margin-top: 8px;
    }
  }
}

.titleModal {
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-success;
  margin-bottom: 12px;
}

.tableCustom {
  border: 1px solid $border-gray;

  .tableHeaderCustom {
    background-color: #eef0f4;

    div {
      padding: 10px 0;
    }
  }

  .tableBodyCustom {
    border-bottom: 1px solid $border-gray;
  }

  .tableFooterCustom {
    button {
      margin: 5px 10px;
    }
  }
}
