@import '@/assets/styles/mixins.scss';
.wrapper-modal {
  :global(.ant-modal-footer) {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  :global(.ant-input[disabled]) {
    color: #3e4247 !important;
    background-color: #eef0f4 !important;
    opacity: 1 !important;
  }
  :global(.ant-picker.ant-picker-disabled) {
    color: #3e4247 !important;
    background-color: #eef0f4 !important;
    opacity: 1 !important;
  }
  :global(.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector) {
    color: #3e4247 !important;
    background-color: #eef0f4 !important;
    opacity: 1 !important;
  }
  :global(.ant-select-arrow) {
    color: #eef0f4 !important;
    opacity: 1 !important;
  }
  :global(.ant-picker-input > input[disabled]) {
    color: #3e4247 !important;
    opacity: 1 !important;
  }
}

.wrapper-modal-check {
  :global(.ant-modal-footer) {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}

.button-cancel {
  font-family: $base__font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-weight: 600;
  color: $text-form-label;
  cursor: pointer;
  text-decoration-line: underline;
}

.model-body {
  border-top: 1px solid $border-line;
  padding: 15px;
}

.wrapper-btn {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $border-line;
  padding: 15px;
}

.wrapper-btn-call {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.wrapper-model-calendar {
  :global(.ant-modal-header) {
    border-radius: 12px 12px 0px 0px;
  }
  :global(.ant-modal-content) {
    border-radius: 12px;
  }
  :global(.ant-modal-footer) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.model-calendar-details {
  font-family: $base__font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: $text-success;
  cursor: pointer;
}

.wrapper-title-add {
  display: flex;
  font-family: $base__font-family;
  height: 32px;
  padding-left: 10px;
  align-items: center;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  color: $text-form-label;
}

.wrapper-btn-add {
  color: #225cc5 !important;
  border: 1px solid #c4cdd4 !important;
  border-radius: 3px !important;
}

.wrapper-step {
  :global(.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .anticon-check-circle) {
    background-color: #c4c4c4;
    border-radius: 50%;
    color: #c4c4c4;
  }
  :global(.ant-steps-item-custom.ant-steps-item-process
      .ant-steps-item-icon
      > .ant-steps-icon
      .anticon-check-circle) {
    background-color: #3bb54a;
    color: $white;
    border-radius: 50%;
  }
  :global(.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .anticon-check-circle) {
    background-color: #3bb54a;
    color: $white;
    border-radius: 50%;
  }
  :global(.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after) {
    background-color: #3bb54a;
  }
}

.wrapper-btn-student {
  padding: 20px 0px;
}

.wrapper-modal-selection {
  :global(.ant-modal-footer) {
    display: flex !important;
    justify-content: center;
  }
}

.wrapper-breadcrumb {
  padding: 20px 40px;
  .details {
    font-family: $base__font-family;
    font-size: 13px;
    color: #7a7e84;
  }
  .detailsEnd {
    font-family: $base__font-family;
    font-size: 13px;
    font-weight: 500;
    color: #3e4247;
  }
}

.general-detail {
  font-family: $base__font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #35373a;
  margin-bottom: 20px;
}

.wrapper-modal-coincide {
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.wrapper-coincide-title {
  font-family: $base__font-family;
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #36383a;
  margin-bottom: 15px;
  justify-content: center;
  text-align: center;
}

.wrapper-coincide-description {
  font-family: $base__font-family;
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #36383a;
  justify-content: center;
  text-align: center;
}

:global(.ant-modal-confirm-btns) {
  width: 100%;
  :global(.ant-btn) {
    font-family: $base__font-family;
    font-weight: 700;
    background-color: white !important;
    width: 50%;
    color: #36383a;
    border: 1px solid #eaeaea !important;
  }
  :global(.ant-btn-primary) {
    margin: 0px !important;
    color: #a61e00 !important;
    font-family: $base__font-family;
    font-weight: 700;
    background-color: white !important;
    border: 1px solid #eaeaea !important;
  }
}

.wrapper-tags {
  width: 100%;
  :global(.ant-select-selection-item) {
    background-color: transparent !important;
    border: unset;
    padding-left: 0;
    padding-right: 0;
  }
}

.tags-content {
  margin: 5px 5px 5px 0px;
  color: #3e4247 !important;
  :global(.ant-tag-close-icon) {
    color: #3e4247 !important;
  }
}

.details-tags {
  width: 100%;
  margin-bottom: 20px;
  :global(.ant-select-selection-item) {
    background-color: transparent !important;
    border: unset;
    padding-left: 0;
    padding-right: 0;
  }
}

.wrapper-table {
  :global(.ant-table-thead > tr > th) {
    background-color: #3b5cad !important;
    font-weight: 700;
    color: white !important;
  }
}

.phone-input {
  :global(.ant-input) {
    border: none;
    pointer-events: none;
    padding: 0;
    font-weight: bold;
  }
}

.call-icon {
  cursor: pointer;
  margin: 5px 0 0 10px;
}
