@import "@/assets/styles/mixins.scss";

.wrapper-radio {
  :global(.ant-radio-group) {
    display: flex;
  }
  :global(.ant-radio-wrapper) {
    width: 100px;
    margin: 0px !important;
  }
  :global(.ant-form-item) {
    margin-bottom: 10px !important;
  }
}