@import '@/assets/styles/mixins.scss';

.upload-file {
  .ant-upload {
    display: flex;
    align-items: center;

    > button {
      color: $primary;
      border: 1px solid $primary;
      margin-right: 10px;
    }

    > i {
      color: $text-darken;
    }
  }
}

.documentary-file {
  padding: 10px;
  margin-top: 10px;
  display: inline-flex;
  border: 1px dashed $border-lighten;
  align-items: center;
}
