@import "@/assets/styles/mixins.scss";

.text-uploadImg {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #3e4247;
  opacity: 0.7;
}

.wrapper-btn {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.wrapper-modal {
  display: flex;
  .img {
    width: 100px;
  }
}
