@import "@/assets/styles/mixins.scss";

.wrapper-title {
  color: #36383a;
  font-family: $base__font-family;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.wrapper-table {
  border: 1px solid #E6E6E6;
  .card-heading {
    background-color: #3B5CAD;;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    border-radius: 2px 2px 0 0;
    .col {
      width: 80%;
      padding: 12px 20px;
      &:not(:first-child) {
        width: 10%;
        height: auto;
        border-left: 1px solid  #575757;
        border-right: 1px solid  #575757;
      }
    }
    .cols {
      width: 80%;
      &:not(:first-child) {
        width: 10%;
        height: auto;
      }
    }
    .norm {
      font-family: 'ProximaNovaSemibold';
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
    }
  }
  .card-item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    .norm {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #36383a;
    }
    .col {
      width: 80%;
      padding: 20px 20px;
      &:not(:first-child) {
        border-left: 1px solid #eaeaea;
        width: 10%;
      }
    }
  
    .col-first {
      padding-top: 24px;
    }
  
    .item-form {
      display: flex;
      align-items: center;
      margin-left: -20px;
      margin-right: -20px;
      padding: 12px 20px;
      &:not(:first-child) {
        border-top: 1px solid #eaeaea;
        margin-top: 10px;
      }
      :global(.ant-form-item) {
        flex-grow: 1;
      }
      .list-button {
        margin-left: 30px;
      }
    }
  }
  .add {
    padding: 5px 10px;
    border: 1px solid #e1e5ef;
    border-radius: 6px;
    :global(.ant-form-item) {
      margin-bottom: 0px !important;
    }
  }
  :global(.ant-form-item) {
    margin-bottom: 0px !important;
  }
}

.wrapper-checkBox {
  font-family: $base__font-family;
  margin-bottom: 8px;
  font-style: normal;
  height: 22px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #35373a;
}

.checkBox-item {
  :global(.checkbox-small){
    margin-bottom: 0px !important;
    height: 32px !important;
  }
}

.wrapper-tag {
  :global(.ant-tag ){
    margin: 5px !important;
  }
}


.wraper-container {
  :global(.ant-collapse-arrow){
     top:  -35px !important;
  }
  :global(.ant-collapse-header){
    padding: 0px !important;
 }
}