@import "@/assets/styles/mixins.scss";

.breadcrumbs {
  padding: rem(10) rem(20);
  :global(.text-muted) {
    font-family: $base__font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #7a7e84;
  }
}

.path {
  font-size: rem(18);
  color: $black;
}

.arrow {
  display: inline-block;
  margin: 0 rem(10);
  &:after {
    display: inline-block;
    content: "\e91b";
    font-family: "icomoon";
    color: #7a7e84;
    font-size: 12px;
  }
}
.title {
  font-family: $base__font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #3e4247;
}
