@import '@/assets/styles/mixins.scss';

.wrapper {
  padding: 24px;
}

.heading-container {
  .title {
    font-family: 'ProximaNovaBold';
    font-size: 20px;
    line-height: 30px;
    color: $text;
  }
}

.wrapper-container {
  position: relative;
  display: flex;
  background-color: #f2f4f8;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  margin-top: 20px;
  min-height: calc(100vh - 160px);
  .wrapper-login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($color: $background-dark, $alpha: 1);
    z-index: 999;
    border-radius: 2px;
  }
  .button-login {
    background-color: $background-primary;
    color: $text-white;
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 32px;
    outline: none;
    border: 1px solid $border-primary;
    span[class*='icon'] {
      padding-right: 10px;
    }
  }
}

.sidebar-container {
  width: 300px;
  background-color: $background-white;
  border-right: 1px solid #eaeaea;
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    border-bottom: 1px solid #eaeaea;
    .norm {
      font-family: 'ProximaNovaRegular';
      font-size: 14px;
      line-height: 24px;
      color: $text;
      cursor: pointer;
    }
    .icon {
      width: 16px;
      height: 16px;
    }
  }
  .sidebar-actions {
    display: flex;
    padding: 6px 9px;
    border-bottom: 1px solid #eaeaea;
    .input {
      span[class*='icon'] {
        color: #7a7e84;
        cursor: pointer;
      }
    }
    .actions-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      width: 100%;
      span[class*='icon'] {
        cursor: pointer;
      }
    }
  }
  .info-content {
    padding: 10px 18px;
    .norm {
      font-family: 'ProximaNovaBold';
      font-size: 12px;
      line-height: 20px;
      color: $text;
    }
  }
  .user-container {
    .user-item {
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #eaeaea;
      padding: 12px 20px;
      cursor: pointer;
      &-active {
        background-color: #e5fdde;
        .user-actions {
          display: flex;
        }
      }
    }
    .user-content {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }
    .time {
      font-family: 'ProximaNovaRegular';
      position: absolute;
      right: 0;
      top: 0;
      font-size: 13px;
      line-height: 18px;
      color: #626568;
    }
    .avatar-container {
      align-items: center;
      display: flex;
      position: relative;
      width: 44px;
      height: 44px;
      border-radius: 100%;
      .dot {
        position: absolute;
        right: 1px;
        bottom: 0px;
        width: 11px;
        height: 11px;
        border: 2px solid $border-white;
        border-radius: 100%;
        background-color: #9d9d9d;
        &.active {
          background-color: $background-success;
        }
      }
      .img {
        width: 44px;
        height: 44px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
    .user-info {
      padding-left: 12px;
      flex-grow: 1;
      .title {
        font-family: 'ProximaNovaBold';
        font-size: 13px;
        line-height: 18px;
        color: $text;
      }
      .norm {
        font-family: 'ProximaNovaRegular';
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #626568;
        overflow: hidden;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }
    }
  }
  .user-actions {
    justify-content: space-between;
    margin-top: 15px;
    display: none;
    &-item {
      display: flex;
      align-items: center;
      border: 1px solid $border-white;
      border-radius: 3px;
      padding: 9px 12px;
      background: #c8f3c5;
      width: calc(100% / 2 - 10px);
    }
    .norm {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: $text;
      overflow: hidden;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
    .dot {
      min-width: 14px;
      min-height: 14px;
      background-color: $background-danger;
      border-radius: 100%;
      margin-right: 5px;
      &.yellow {
        background-color: $background-yellow;
      }
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  &-info {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $background-white;
    border-radius: 6px;
    padding: 15px;
    .avatar-container {
      align-items: center;
      display: flex;
      position: relative;
      width: 44px;
      height: 44px;
      border-radius: 100%;
      .dot {
        position: absolute;
        right: 1px;
        bottom: 0px;
        width: 11px;
        height: 11px;
        border: 2px solid $border-white;
        border-radius: 100%;
        background-color: #9d9d9d;
        &.active {
          background-color: $background-success;
        }
      }
      .img {
        width: 44px;
        height: 44px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
    .user-info {
      padding-left: 12px;
      .title {
        font-family: 'ProximaNovaBold';
        font-size: 13px;
        line-height: 18px;
        color: $text;
      }
      .norm {
        font-family: 'ProximaNovaRegular';
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #626568;
        overflow: hidden;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }
    }
  }
  .messager-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .messager-group {
    &:not(:first-child) {
      margin-top: 50px;
    }
    .date {
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: rgba($color: $text, $alpha: 0.6);
      margin-bottom: 15px;
    }
  }
  .messager-item {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  .messager-recieve {
    width: 60%;
    .messager-content {
      background-color: $background-white;
      border-radius: 6px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: $text;
      padding: 12px 15px;
      color: $text;
    }
    .time {
      margin-top: 4px;
      font-size: 12px;
      line-height: 15px;
      text-align: left;
      color: rgba($color: $text, $alpha: 0.6);
    }
  }

  .messager-send {
    width: 60%;
    margin-left: auto;
    .messager-content {
      background-color: $background-success;
      border-radius: 6px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: $text;
      padding: 12px 15px;
      color: $text-white;
      text-align: right;
    }
    .time {
      margin-top: 4px;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      color: rgba($color: $text, $alpha: 0.6);
    }
  }
  .chat-container {
    position: relative;
    margin-top: 20px;
    .input {
      border: none;
      outline: none;
      box-shadow: none;
      background-color: $background-white;
      border-radius: 6px;
      padding: 10px 16px;
      &:hover,
      &:focus {
        border: none;
        outline: none;
      }
    }
    .group-icon {
      position: absolute;
      right: 10px;
      bottom: 10px;
      span[class*='icon'] {
        margin: 0 10px;
        font-size: 16px;
        color: #626568;
      }
    }
  }
}

.info-container {
  width: 300px;
  background-color: $background-white;
  .group-button {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .user-container {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #eaeaea;
  }
  .user-info {
    margin-top: 5px;
    text-align: center;
    .norm {
      font-family: 'ProximaNovaBold';
      font-size: 13px;
      line-height: 18px;
      color: $text;
    }
    .tags-container {
      font-size: 12px;
      line-height: 20px;
      border-radius: 30px;
      background-color: #ffefdb;
      color: #ff8300;
      padding: 3px 10px;
      margin-top: 2px;
      &.yellow {
        background-color: #ffefdb;
        color: #ff8300;
      }
      &.success {
        background-color: rgba($color: $background-success, $alpha: 0.3);
        color: $text-success;
      }
    }
  }
  .avatar-container {
    align-items: center;
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    .img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  .actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    :global(.ant-btn) {
      margin: 0 10px;
      span[class*='icon'] {
        color: $text-success;
      }
    }
  }

  .contact-container {
    border-top: 1px solid #eaeaea;
    .contact-item {
      display: flex;
      justify-content: space-between;
      padding: 16px 21px;
      border-bottom: 1px solid #eaeaea;
      .label {
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: $text;
        width: 30%;
      }
      .norm {
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: $text;
        flex-grow: 1;
        text-align: right;
      }
    }
  }

  .tags-container {
    padding: 10px 16px;
    border-bottom: 1px solid #eaeaea;
    .title {
      font-family: 'ProximaNovaBold';
      font-size: 12px;
      line-height: 20px;
      color: #3b5cad;
      margin-bottom: 10px;
    }
    .tags-block {
      margin-top: 10px;
      border: 1px solid #c4cdd4;
      border-radius: 3px;
      padding: 10px;
    }
  }

  .note-container {
    padding: 10px 16px;
    .note-heading {
      display: flex;
      justify-content: space-between;
      .title {
        font-family: 'ProximaNovaBold';
        font-size: 12px;
        line-height: 20px;
        color: #3b5cad;
        margin-bottom: 10px;
      }
      span[class*='icon'] {
        color: $text-success;
      }
    }
  }
}
