@import "@/assets/styles/mixins.scss";
.study-modal {
  :global(.ant-modal-body) {
    padding: 0px !important;
    border-radius: 6px !important;
  }
  :global(.ant-modal-content) {
    border-radius: 6px;
  }
  :global(.ant-modal-close-x) {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
  }
  .card-item {
    width: 300px;
    padding: 30px 10px 10px 10px;
    border-radius: 6px;
    .text {
      font-size: 12px;
      line-height: 16px;
      font-family: $proxima-nova__font-family;
      font-weight: 400 !important;
      margin: 0px !important;
      color: #3e4247;
    }
    .textUnit {
      font-size: 12px;
      line-height: 18px;
      color: #3e4247;
      margin: 0px !important;
      font-family: $proxima-nova__font-family;
      font-weight: 700 !important;
    }
    .textFlex {
      display: flex;
      line-height: 18px;
    }
    .textPadding {
      padding: 0px 5px;
      margin: 0px !important;
      line-height: 18px;
    }
  }
}
.container-study {
  :global(.ant-form-vertical .ant-form-item-row) {
    margin: 0px !important;
  }

  .header-btn {
    display: flex;
  }

  .header-table {
    background-color: $background-white;
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    .btnStyle {
      background-color: $background-white;
      color: #bfbfbf;
      width: 100px;
      border: 1px solid #d9d9d9 !important;
      width: auto;
      height: auto;
      padding: 10px 16px !important;
      &:first-child {
        border-right: none !important;
      }
    }
    .colorIcon {
      color: #bfbfbf;
      font-size: 13px;
      width: 13px;
      height: 13px;
    }
  }

  .card-menuLeft {
    padding: 15px 15px 0 15px;
    .card-item {
      margin: 0px !important;
      padding: 6px 10px;
      border-radius: 4px;
      .text {
        font-size: 12px;
        line-height: 16px;
        margin: 0px !important;
        color: #3e4247;
        font-family: $proxima-nova__font-family;
        font-weight: 400 !important;
      }
      .textUnit {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: #3e4247;
        margin: 0px !important;
        font-family: $proxima-nova__font-family;
        font-weight: 700 !important;
      }
      .textFlex {
        display: flex;
        line-height: 18px;
      }
      .textPadding {
        padding: 0px 5px;
        margin: 0px !important;
        line-height: 18px;
      }
    }
  }

  .card-table {
    padding: 5px 5px 0 5px;
    .card-item {
      width: 100%;
      margin: 0px !important;
      padding: 6px 10px;
      border-radius: 4px;
      .text {
        font-size: 12px;
        line-height: 16px;
        margin: 0px !important;
        color: #3e4247;
        font-family: $proxima-nova__font-family;
        font-weight: 400 !important;
      }
      .textUnit {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: #3e4247;
        margin: 0px !important;
        font-family: $proxima-nova__font-family;
        font-weight: 700 !important;
      }
      .textFlex {
        display: flex;
        line-height: 18px;
      }
      .textPadding {
        padding: 0px 5px;
        margin: 0px !important;
        line-height: 18px;
      }
    }
    &:last-child {
      padding: 5px 5px 5px 5px;
    }
  }

  .wrapper-table {
    min-width: 200px;
    padding: 0;
    height: 100%;
  }
  .item-Disabled {
    background-color: #eef0f4;
  }
  .item-col {
    height: 100%;
    border-bottom: 1px solid #dfe3ec;
    border-left: 1px solid #dfe3ec;
    min-height: 100px;
    &:nth-child(2) {
      height: calc(100% - 35px);
    }
  }

  .block-table {
    padding: 24px;
    background-color: $background-white;
    border-radius: 4px;
    overflow-x: hidden;

    &.block-table-tab {
      padding: 4px 20px 20px 20px;

      :global(.ant-tabs-content-holder) {
        display: none;
      }

      :global(.ant-tabs) {
        margin: 0 -20px;
      }

      :global(.ant-tabs-nav-wrap) {
        padding: 0 20px;
      }

      :global(.ant-tabs-tab-btn) {
        color: $text;
      }

      :global(.ant-tabs-tab-active .ant-tabs-tab-btn) {
        color: $text-success;
        font-weight: unset;
      }

      :global(.ant-tabs-ink-bar) {
        background: $background-success;
      }
    }
    :global(.ant-form-item) {
      margin-bottom: 0px !important;
    }
  }
}
