@import '@/assets/styles/mixins.scss';

.logo-call {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: $background-primary;
  color: $text-white;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  animation: blur 1s infinite linear;

  :global(img) {
    width: 50%;
  }
}

@keyframes blur {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(112, 161, 255, 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.phone-simulator {
  :global(.ant-modal-body) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d3239;
    padding: 0;
  }

  :global(.ant-modal-body),
  :global(.ant-modal-content) {
    border-radius: 12px;
  }

  :global(.anticon-close) {
    color: $text-white;
  }
}

.show-input {
  text-align: center;
  width: 100%;
  height: 100px !important;
  margin-bottom: 20px;

  :global(.ant-input) {
    text-align: center;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    color: $text-primary;
    border: none;
    background-color: unset;
  }
}

.digits {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  :global(button) {
    width: 30%;
    max-width: 30%;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;

    &:last-child {
      width: 100%;
      max-width: 100%;
    }
  }

  :global(.ant-btn),
  :global(.ant-btn:hover),
  :global(.ant-btn:active) {
    background-color: #2d3239;
    color: $text-white;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .button-item {
    display: flex;
    justify-content: center;
    width: 30%;
  }
}

.phone-call {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: $background-success;
  color: $text-white;
  border-radius: 50%;
  z-index: 99999;
  cursor: pointer;

  :global(img) {
    width: 50%;
  }
}

.delete-number {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: $text-white;
  border-radius: 50%;
  z-index: 99999;
  cursor: pointer;

  :global(img) {
    width: 70%;
  }
}

.layout-call {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar-item {
    width: 100px;
    height: 100px;
    background-color: $background-white;
    border-radius: 50%;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 100px;

    .default-avatar {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      display: block;
    }
  }

  .user-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: $text-white;
  }

  .call-type,
  .phone-number,
  .call-status {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $text-white;
    margin-bottom: 15px;
  }

  .phone-number {
    margin: 10px 0 15px;
  }

  .button-add-lead {
    margin: 8px 0;
  }

  .time-active {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    color: $text-white;
  }

  .text-note {
    width: 100%;
    margin: 20px 0;

    :global(.ant-input) {
      background-color: #484e56;
      color: $text-white;
    }
  }

  .hangout {
    &-group {
      display: flex;
      margin-top: 20px;
      width: 100%;
      justify-content: space-between;

      &__invidual {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
    }

    &-background {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
      line-height: 60px;
      margin-bottom: 10px;
      cursor: pointer;

      &__invidual {
        background-color: $background-danger;
      }
    }

    &-title {
      text-align: center;
      color: $text-white;
    }

    &-background__success {
      background-color: $background-success;
    }

    &-background__danger {
      background-color: $background-danger;
    }

    &-rotate {
      transform: rotate(132deg);
    }
  }
}

.border-y {
  width: 100%;
  border-bottom: 1px solid #383d45;
  border-top: 1px solid #383d45;
}

.call-result {
  &-modal {
    left: 30%;

    :global(.ant-modal-body .ant-row) {
      display: unset;
    }

    :global(.ant-modal-footer) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &-info {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}

.form-main {
  border-top: 1px solid #383d45 !important;
  border-bottom: 1px solid #383d45 !important;

  :global(.ant-row) {
    margin: 10px 0;
  }

  :global(.ant-input) {
    background-color: #484e56;
    border: none;
    border-radius: 3px;
    color: $text-white;
  }
}

.modal {
  &-phone,
  &-inbound,
  &-answer {
    padding: 0 24px 24px 24px;
    margin-top: 40px;
    width: 100% !important;
  }

  &-answer {
    cursor: move;
  }
}

.add-lead-form {
  position: fixed;
  z-index: 2000;
  top: 20px;
  left: 50px;
  width: 970px;
  background-color: $background-white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);

  .header {
    &-form {
      border-bottom: 1px solid $border-gray;
    }

    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: $text-dark;
      margin: 10px 0;
    }
  }

  .content {
    &-form {
      overflow-y: scroll;
      height: 80vh;

      :global(.ant-form-item) {
        flex-direction: column;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      color: $text-dark;
      margin-top: 10px;
    }
  }

  .footer {
    &-form {
      border-top: 1px solid $border-gray;
    }

    &-cancel {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-decoration-line: underline;
      color: $text-dark;
      cursor: pointer;
    }

    &-save {
      margin: 10px 0;
    }
  }
}

:global(.ant-picker-dropdown) {
  z-index: 2001;
}
