@import "@/assets/styles/mixins.scss";

@mixin title($font-weight, $font-size, $line-height, $color) {
  font: $font-weight #{$font-size}/#{$line-height} $bold__font-family;
  font-style: normal;
  color: $color;
}

.page-title {
  @include title(normal, 20px, 30px, rgba($color: $black, $alpha: 0.85));
}

.form-title {
  @include title(normal, 16px, 20px, $text-form-label);
}

.form-sub-title {
  @include title(normal, 14px, 20px, #36383a);
}

.form-block-title {
  @include title(normal, 14px, 20px, $text-success);
  text-transform: uppercase;
}
