APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:03AHIk+WloG2tbfmJX8VMAQesbqTR5mWezrvEHyranc=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=db
DB_USERNAME=dbuser
DB_PASSWORD=user123

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=NGFlNjAyNWNm
AWS_DEFAULT_REGION=
AWS_BUCKET=erptran
AWS_URL=http://s3:9000
MINIO_ENDPOINT=http://s3:9000
FILESYSTEM_DRIVER=minio

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

APP_LOCAL=vi
TELESCOPE_ENABLED=false

APP_ID_FACEBOOK=911093392778917
APP_SECRET_FACEBOOK=d827d02fc195957d13fa305815c501bf
VERIFY_TOKEN=clover

TWILIO_ACCOUNT_SID=AC6def8348e9b5b3b810c76aea67d12584
AUTH_TOKEN=3f825a2b72b7b5ad1185b3f0ab9fc99b
TWILIO_APPLICATION_SID=APd733e4398112c8442e8ca1a92657ab55
TWILIO_NUMBER=+19035225213
API_KEY=SK3ee44e9bda4b0b0ee2566b7a0c10104e
API_SECRET=wtMG4BlIMRXtbVtjHyTuGHx6WSrYeCmg
TWILIO_SERVICE_SID=IS11fed97d40c05f1b6958697dda9fd24b

APP_ID_ZALO=176286014935476029
APP_SECRET_ZALO=vBRk6NCSGQIGHLW5JGVX

IMAGE_URL=https://erp-clover-file.demo.greenglobal.com.vn

LINK_WEB_FORM=https://erp-clover-dev.demo.greenglobal.com.vn/web-form/
TOKEN_EMAIL=8l9bbmNwnKNBrh0nR75KRXIzDqGctvSu
EMAIL_URL=https://email-clover-dev.dn.greenglobal.vn
URL_CRM=https://api-crm-dev.dn.greenglobal.vn
SSO_URL=https://erp-clover-api.demo.greenglobal.com.vn
URL_CLOVER=https://erp-clover-dev-api-laravel.demo.greenglobal.vn
SOCKET_URL=https://socket-crm-dev.dn.greenglobal.vn