APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:03AHIk+WloG2tbfmJX8VMAQesbqTR5mWezrvEHyranc=
APP_DEBUG=true
APP_URL=http://localhost
LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=dltm
DB_USERNAME=dbuser
DB_PASSWORD=user123

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

FILESYSTEM_DRIVER=minio
MINIO_ENDPOINT=http://s3:9000
MINIO_KEY=minio
MINIO_SECRET=minio123
MINIO_BUCKET=dltm
MEDIA_DISK=minio

PLAYBACK_SERVER=
MEDIA_SERVER=

APP_LOCAL=vi

AI_URL=https://api-ai.greenlabs.ai/face_service

ONESIGNAL_APP_ID=0b735db4-f69e-46f4-8561-cdf2287f7fdd
ONESIGNAL_REST_API_KEY=ZWU5YjZlODItMjUyZS00NjM2LWJiYmUtY2M1YTQyOTI2ODIx
ONESIGNAL_USER_AUTH_KEY=YmFmY2Q5ZTItODRkMS00NTBiLTg4MWItMmQ0YTRlNTQ2NjA2

IMAGE_URL=https://gsdl-dev-storage.greenglobal.vn/dltm