@import "@/assets/styles/mixins.scss";

.wraper-container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  .wraper-text {
    color: #36383a;
    font-size: 28x;
    font-family: $bold__font-family;
    font-style: normal;
    font-weight: 600;
  }
}
