@import "@/assets/styles/mixins.scss";

.table-footer {
  background-color: #fff1eb;
  min-width: 150px;
}
.table-top {
  background-color: #eef0f4;
  color: #36383a;
  font-weight: 700;
  font-size: 14px;
}
.table-content {
  color: #3e4247;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}
