@import "@/assets/styles/mixins.scss";

.wrapper-table {
  :global(.ant-table-thead > tr > th) {
    background-color: #3b5cad !important;
    font-weight: 700;
    color: white !important;
  }
  .btn {
    border: 1px solid #e1e5ef;
    box-sizing: border-box;
    border-radius: 6px;
  }
}
